@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "League Spartan", sans-serif;
}

.custom-placeholder{
  font-family: "League Spartan", sans-serif;
  font-size: 1.8rem;
}

input::placeholder{
  text-align: center;
}

section.authentic {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas:
            "bowl content";
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.right-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  text-align: left;
  align-self: center;
  height: 100vh;
}

.img {
  grid-area: bowl;
  width: 60%;
  height: 90%;
}

.appFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
position: fixed;
  bottom: 0;
}

.form-control {
  margin-bottom: 20px;
}

.auth-footer {
  margin-top: 30px;
}